.hero__title-box {
  max-width: 968px;
}
/* Вторая страница */
.breadcrumb {
  list-style: none;
  flex-wrap: wrap;
  display: flex;
  gap: 8px;
  margin-bottom: 80px;
}
.breadcrumb li {
  display: inline;
  position: relative;
}
.breadcrumb li + li::before {
  content: '/';
  margin-right: 8px;
  color: #6c757d;
}
.breadcrumb .active {
  font-weight: 600;
  pointer-events: none;
}
.conditions {
  margin-bottom: 140px;
}
.conditions__title {
  font-weight: 700;
  font-size: 40px;
  max-width: 891px;
  margin-bottom: 33px;
}
.conditions__items {
  display: flex;
  flex-wrap: wrap;
  gap: 53px;
}
.conditions__item {
  border-radius: 20px;
  background: #ededed;
  padding: 31px 51px 31px 32px;
  min-width: 428px;
}
.conditions__subtitle {
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 20px;
}
.conditions__list {
  list-style: disc;
  margin-left: 32px;
  max-width: 352px;
  margin-bottom: 18px;
}
.conditions__item-btn {
  width: 380px;
  align-self: center;
}
.conditions__btn {
  display: block;
  border-radius: 20px;
  background: #565656;
  padding: 25px;
  width: 100%;
  font-weight: 700;
  text-align: center;
  color: #fff;
}
.conditions__link {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  font-weight: 600;
  font-size: 16px;
  margin-left: 32px;
}
.other__slide {
  flex: 0 0 50%;
  padding: 10px;
}
.other__title {
  text-align: center;
  margin-bottom: 60px;
  font-weight: 700;
  font-size: 40px;
}
.other__btns {
  margin-top: 50px;
}
.other {
  margin-bottom: 60px;
}
.deposit {
  margin-bottom: 110px;
}
.deposit__title {
  font-weight: 600;
  font-size: 32px;
  margin-bottom: 44px;
}
.deposit__items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px 43px;
}
.deposit__item {
  border-radius: 20px;
  background: #f3f3f3;
  padding: 50px;
}
.deposit__circle {
  width: 146px;
  height: 146px;
  margin: 0 auto 40px;
  border-radius: 50%;
  background-color: #d9d9d9;
}
.deposit__text {
  font-weight: 600;
  font-size: 24px;
  text-align: center;
}

.hero__subtitle--phys {
  right: -71px;
  bottom: -40px;
}
.advantages {
  margin-bottom: 170px;
}
.advantages__inner {
  border-radius: 20px 20px 0 0;
  padding: 33px 20px 56px;
  background: #f2f2f2;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 66px;
}
.advantages__circle {
  width: 73px;
  height: 73px;
  border-radius: 50%;
  background-color: #c4c4c4;
  margin: 0 auto;
  margin-bottom: 12px;
}
.advantages__item {
  text-align: center;
  max-width: 225px;
  font-size: 18px;
}
.hero__title-box--private {
  max-width: 900px;
}
.private-conditions {
  margin-bottom: 150px;
}
.private-conditions__title {
  font-weight: 700;
  font-size: 40px;
  max-width: 646px;
  margin-bottom: 80px;
}
.private-conditions__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 41px;
}
.private-conditions__item {
  display: flex;
  gap: 30px;
  align-items: center;
  min-width: 452px;
  max-width: 452px;
}
.private-conditions__circle {
  min-width: 65px;
  min-height: 65px;
  border-radius: 50%;
  background-color: #6c6c6c;
}
.private-conditions__text {
  font-weight: 600;
  font-size: 24px;
  letter-spacing: -0.01em;
}
.steps__items--bottom2 {
  margin-left: 45px;
}
.steps__items--bottom2 .steps__item:nth-child(2) {
  margin-right: 105px;
}
.steps__items--bottom2 .steps__item:nth-child(3) {
  margin-right: 115px;
}

.hero--buyout .hero__circle {
  min-width: 53px;
  min-height: 53px;
}
.hero--buyout .hero__item p {
  width: auto;
}
.hero--buyout .hero__left {
  max-width: 765px;
}

.types {
  margin-bottom: 196px;
}
.types__title {
  font-weight: 600;
  font-size: 40px;
  line-height: 120%;
  max-width: 782px;
  margin-bottom: 35px;
}
.types__subtitle {
  font-size: 24px;
  line-height: 120%;
  max-width: 782px;
  margin-bottom: 70px;
}
.types__items {
  display: flex;
  justify-content: space-between;
  gap: 44px;
}
.types__item {
  border-radius: 20px;
  padding: 48px 32px;
  background: #f6f6f6;
}
.types__item-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  margin-bottom: 30px;
}
.types__item-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
}
.steps--buyout .steps__items {
  gap: 186px;
  margin-left: 90px;
}
.steps--buyout .steps__items--bottom {
  gap: 142px;
  margin-left: 56px;
}
.steps--buyout .steps__items--bottom .steps__item:nth-child(3) {
  max-width: 320px;
}
.steps--buyout .steps__item:nth-child(1),
.steps--buyout .steps__item:nth-child(2),
.steps--buyout .steps__items--bottom .steps__item:nth-child(3) {
  margin-right: 0;
}
.test {
  margin-bottom: 200px;
}
.test__title {
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  max-width: 941px;
  margin: 0 auto 60px;
}
.test__content {
  border: 1px solid #000;
  max-width: 839px;
  margin: 0 auto;
  padding: 36px 18px 16px 30px;
  min-height: 506px;
  position: relative;
}
.test__question {
  max-width: 522px;
}
.test__top {
  display: flex;
  gap: 8px;
  margin-bottom: 40px;
}
.test__top-text {
  font-weight: 300;
  font-size: 14px;
}
.question__title {
  font-weight: 500;
  font-size: 23px;
  margin-bottom: 25px;
}
.question__options {
  display: flex;
  flex-wrap: wrap;
  gap: 25px 20px;
  max-width: 472px;
  margin-bottom: 18px;
}
.question__checkbox {
  display: flex;
  align-items: center;
  border: 0.5px solid #000;
  border-radius: 10px;
  padding: 22px 14px;
  width: 226px;
  height: 68px;
}
.question__checkbox input[type='radio'] {
  margin-right: 15px;
  width: 21px;
  height: 21px;
  accent-color: black; /* Для изменения цвета радиокнопки */
}
.question__checkbox label {
  font-weight: 300;
  font-size: 14px;
}
.question {
  margin-bottom: 20px;
}
.test__bottom {
  display: flex;
  flex-wrap: wrap;
  gap: 33px;
  align-items: center;
}
.test__progress-text {
  font-weight: 300;
  font-size: 9px;
  margin-bottom: 8px;
}
.test__progressbar {
  border-radius: 400px;
  width: 358px;
  height: 4px;
  background: rgba(196, 196, 196, 0.71);
  position: relative;
}
.test__progressbar::before {
  content: '';
  border-radius: 400px;
  width: 128px;
  height: 4px;
  background: #676767;
  position: absolute;
}
.test__next-btn {
  padding: 15px 25px;
  border-radius: 40px;
  background: #313131;
  font-weight: 300;
  font-size: 12px;
  margin-bottom: 8px;
}
.test__control {
  display: flex;
  gap: 14px;
}
.test__prev {
  margin-top: 5px;
}
.test__hint {
  font-weight: 300;
  font-size: 8px;
  color: rgba(0, 0, 0, 0.7);
  text-align: center;
}
.test__btns {
  width: 241px;
  position: absolute;
  bottom: 16px;
  right: 18px;
}
.test__btn {
  display: block;
  border-radius: 20px;
  background: #616161;
  font-weight: 600;
  font-size: 14px;
  padding: 28px;
  color: #fff;
  width: 100%;
}
.test__btn:first-child {
  margin-bottom: 16px;
}
.test__questions {
  position: relative;
}
.question__input {
  border: 0.5px solid #000;
  border-radius: 10px;
  padding: 22px 14px;
  width: 100%;
  font-weight: 300;
  font-size: 14px;
}
.question__options--input {
  display: block;
  margin-bottom: 214px;
}
.question__options--third {
  margin-bottom: 119px;
}
.thanks {
  margin-bottom: 126px;
}
.thanks__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 120%;
  margin-bottom: 25px;
}
.thanks__text {
  font-size: 32px;
  line-height: 120%;
  max-width: 732px;
}
.hero-coop {
  margin-bottom: 190px;
}
.hero-coop__text {
  font-weight: 500;
  font-size: 24px;
  line-height: 120%;
  margin-bottom: 40px;
}
.hero-coop__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 120%;
  margin-bottom: 16px;
  max-width: 804px;
}
.hero-coop__subtitle {
  font-weight: 500;
  font-size: 32px;
  line-height: 120%;
  margin-bottom: 73px;
}
.hero-coop__form {
  max-width: 455px;
}
.hero-coop__form-text {
  font-weight: 600;
  margin-bottom: 22px;
}
.hero-coop__input {
  border: 1px solid #000;
  border-radius: 10px;
  padding: 20px;
  width: 100%;
  margin-bottom: 22px;
  font-size: 16px;
}
.hero-coop__input::placeholder {
  color: rgba(0, 0, 0, 0.6) !important;
}
.hero-coop__btn {
  display: block;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  color: #fff;
  border-radius: 20px;
  background: #565656;
  padding: 25px;
  width: 100%;
}
.benefits__title--coop {
  font-weight: 600;
  letter-spacing: -0.01em;
  text-align: center;
  margin: 0 auto 62px;
}
.benefits__btn {
  display: block;
  border-radius: 20px;
  background: #565656;
  font-weight: 700;
  text-align: center;
  color: #fff;
  padding: 25px;
  max-width: 455px;
  margin: 40px auto 0;
}
.partner-member {
  margin-bottom: 183px;
}
.partner-member__title {
  font-weight: 600;
  font-size: 40px;
  letter-spacing: -0.01em;
  text-align: center;
  margin: 0 auto 77px;
}
.partner-member__items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 39px 46px;
}
.partner-member__item {
  display: flex;
  border-radius: 20px;
  background: #424242;
  color: #fff;
  letter-spacing: -0.01em;
}
.partner-member__inner {
  padding: 26px 34px;
  max-width: 393px;
}
.partner-member__subtitle {
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 13px;
}
.partner-member__subtitle--margin {
  margin-top: 29px;
}
.partner-member__hint {
  font-size: 13px;
  margin-bottom: 13px;
  text-align: right;
}
.partner-member__text {
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 22px;
}
.partner-member__left {
  height: 100%;
  width: 304px;
  min-width: 200px;
  background: #ccc;
  border-radius: 20px 0 0 20px;
}
.partner-member__list {
  margin-bottom: 55px;
  list-style: disc;
  margin-left: 30px;
  font-size: 16px;
}
.partner-member__btn {
  display: block;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  padding: 25px;
  border-radius: 20px;
  background: #1b1b1b;
}
.deposit__items--flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px 42px;
}
.deposit__items--flex .deposit__item {
  min-width: 329px;
}
.contacts__number {
  font-weight: 500;
  font-size: 32px;
  line-height: 120%;
  margin-bottom: 27px;
}
.contacts__timetable {
  font-weight: 600;
  margin-bottom: 39px;
}
.contacts__socials {
  align-self: start;
}
.contacts__email {
  font-weight: 500;
  font-size: 24px;
  line-height: 120%;
  margin-bottom: 39px;
}
.contacts__address {
  font-weight: 500;
}
.contacts__box {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.contacts__left {
  padding-top: 40px;
}
.contacts__right {
  border-radius: 20px;
  width: 654px;
  height: 326px;
}
iframe {
  width: 100%;
  height: 100%;
  border: 0;
}
.requisites{
  margin-bottom: 276px;
}
.requisites__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 140%;
  text-align: center;
  margin-bottom: 30px;
}
.requisites__inner {
  max-width: 696px;
  margin: 0 auto;
}
.requisites__line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 22px;
  gap: 10px;
}
.requisites__key {
  line-height: 140%;
}
.requisites__value {
  font-size: 24px;
  line-height: 140%;
  max-width: 250px;
  text-align: right;
}
